.header {
    width: 100%;
    height: 70px;
    padding: 0.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__h1 {
    color: #2DAE81;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.header__ham {
    margin-left:0.6rem;
}

.header__switch {
    display: flex;
}

.header__switch_option {
    border: 1px solid #DAAF2A;
    padding: 0.5rem;
    color: #EDEDED;
}

.header__active {
    background: #DAAF2A;
    border: none;
    padding: 0.5rem;
    color: #EDEDED;
}

.header__list_desktop {
    display: none;
}

@media (min-width:768px) {
    .header__active {
        font-size:1.3rem;
        font-weight: bold;
    }

    .header__switch_option {
        font-size:1.3rem;
        font-weight: bold;
    }

    .header__h1 {
        font-size: 1.8rem;
    }
}

@media (min-width:992px) {
    .header {
        width: 95%;
        margin: 0 auto;
    }

    .header__switch {
        display: none;
    }


    .header__ham {
        display: none;
    }

    .header__list_desktop {
        display: flex;
        list-style-type: none;
        align-items: center;
    }

    .header__list_item {
        margin-left: 1.5rem;
        text-transform: uppercase;
        color: #DAAF2A;;
    }

    .header__list_item_special {
        display: flex;
        margin-left: 1.5rem;
    }

    .header__switch_option_desktop {
        border: 1px solid #DAAF2A;
        padding: 0.5rem;
        color: #EDEDED;
        cursor: pointer;
    }
    
    .header__active_desktop {
        background: #DAAF2A;
        border: none;
        padding: 0.5rem;
        color: #EDEDED;
        cursor: pointer;
    }
}