.header {
    width: 100%;
    height: 70px;
    padding: 0.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__h1 {
    color: #2DAE81;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.header__ham {
    margin-left:0.6rem;
}

.header__switch {
    display: flex;
}

.header__switch_option {
    border: 1px solid #DAAF2A;
    padding: 0.3rem;
    color: #EDEDED;
}

.header__active {
    background: #DAAF2A;
    border: none;
    padding: 0.5rem;
    color: #EDEDED;
}